<% if (deleteModalId !== '') { %>
<%
	const deleteModalObjects = [
		{
			id: 'deleteWorkspaceModal',
			title: 'Delete Workspace',
			toDelete: 'this workspace',
			formId: 'deleteWorkspaceForm'
		},
		{
			id: 'deleteItemModal',
			title: 'Delete Item',
			toDelete: 'this item',
			formId: 'deleteItemForm'
		},
		{
			id: 'deleteHistoryModal',
			title: 'Delete History',
			toDelete: 'this workspace\'s history',
			formId: 'deleteHistoryForm'
		},
		{
			id: 'deleteAccountModal',
			title: 'Delete Account',
			toDelete: 'your Account',
			formId: 'deleteAccountForm'
		}
	];
	
%>

<%
// for reference
	const deleteAccountModalObjects = [
		{
			id: 'deleteAccountModal',
			title: 'Delete Account',
			toDelete: 'your Account',
			formId: 'deleteAccountForm'
		}
	];
	const deleteWorkspaceModalObjects = [
		{
			id: 'deleteWorkspaceModal',
			title: 'Delete Workspace',
			toDelete: 'this workspace',
			formId: 'deleteWorkspaceForm'
		}
	];
	const deleteHistoryModalObjects = [
		{
			id: 'deleteHistoryModal',
			title: 'Delete History',
			toDelete: 'this workspace\'s history',
			formId: 'deleteHistoryForm'
		}
	];
	const deleteItemModalObjects = [
		{
			id: 'deleteItemModal',
			title: 'Delete Item',
			toDelete: 'this item',
			formId: 'deleteItemForm'
		}
	];
%>

<% 
    let deleteModals;
    if (deleteModalId === 'deleteAccountModal') {
        deleteModals = deleteAccountModalObjects;
    } 
    else if (deleteModalId === 'deleteWorkspaceModal') {
        deleteModals = deleteWorkspaceModalObjects;
    } 
    else if (deleteModalId === 'deleteHistoryModal') {
        deleteModals = deleteHistoryModalObjects;
    }
    else if (deleteModalId === 'deleteItemModal' ) {
        deleteModals = deleteItemModalObjects;
    } 
    for(let deleteModal of deleteModals) {
%>


<div class="modal fade montserrat" id="<%= deleteModal.id %>" tabindex="-1" 
    aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"><%- deleteModal.title %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to permanently delete <%- deleteModal.toDelete %>? 
                    <span class="text-danger">(This action can't be undone.)</span>
                </p>
            </div>
            <form id="<%= deleteModal.formId %>" method="post" action="<%= formSubmitPath %>" novalidate></form>
            <div class="modal-footer">
                <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" form="<%= deleteModal.formId %>">Confirm</button>
            </div>
        </div>
    </div>
</div>

<% } %>
<% } %>