<% for(let editModal of editItemModals) { %>
<div class="modal fade" id="<%= editModal.id %>" tabindex="-1" 
      aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"><%- editModal.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 form-floating">
            <% if(editModal.type === 'textarea') { %>
              <textarea class="form-control" id="<%= editModal.inputId %>"></textarea>
              <label for="<%= editModal.inputId %>" class="col-form-label">
                <%- editModal.label %>
              </label>
            <% } else if(editModal.type === 'text-input') { %>
              <input type="text" class="form-control" id="<%= editModal.inputId %>">
              <label for="<%= editModal.inputId %>" class="col-form-label">
                <%- editModal.label %>
              </label>
            <% } else { %>
              <select class="form-select" aria-label="Assign Collaborator to Item">
                <option selected><%- editModal.label %></option>
                <% if(sampleItem.assignedPeople.length > 0) { %>
                <% for(let collab of sampleItem.assignedPeople) { %>
                  <option value="<%= collab %>"><%- collab %></option>
                <% } %>
                <% } %>
              </select>
            <% } %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary">Confirm</button>
      </div>
    </div>
  </div>
</div>
<% } %>
