<%
  const editItemModals = [
    {
      id: 'editItemNameModal',
      title: 'Edit Item Name',
      inputType: 'text-input',
      inputId: 'updateItemName',
      label: 'Item Name',
      itemProperty: 'name'
    },
    {
      id: 'editItemPCodeModal',
      title: 'Edit Item Product Code',
      inputType: 'text-input',
      inputId: 'updateItemPCode',
      label: 'Item Product Code',
      itemProperty: 'code'
    },
    {
      id: 'editItemQtyUnitModal',
      title: 'Edit Item Qty/Unit',
      inputType: 'text-input',
      inputId: 'updateItemQtyUnit',
      label: 'Item Qty/Unit',
      itemProperty: 'qtyUnit'
    },
    {
      id: 'editItemDescModal',
      title: 'Edit Item Description',
      inputType: 'textarea',
      inputId: 'updateItemDesc',
      label: 'Item Description',
      itemProperty: 'description'
    },
    {
      id: 'editItemCollabsModal',
      title: 'Edit Item Collaborators',
      inputType: '',
      inputId: 'updateItemAssigments',
      label: 'Assign a Collaborator',
      itemProperty: 'collaborators'
    }
  ];
%>

<% for(let editModal of editItemModals) { %>
<div class="modal fade montserrat" id="<%= editModal.id %>" tabindex="-1" 
      aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"><%- editModal.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 form-floating">
            <% if(editModal.inputType === 'textarea') { %>
              <textarea class="form-control" id="<%= editModal.inputId %>" placeholder="<%= editModal.label %>"></textarea>
            <% } else if(editModal.inputType === 'text-input') { %>
              <input type="text" class="form-control" id="<%= editModal.inputId %>" placeholder="<%= editModal.label %>">
            <% } else { %>
              <select class="form-select" id="<%= editModal.inputId %>" aria-label="Assign Collaborator to Item">
                <option selected><%- editModal.label %></option>
                <% if(sampleItem.assignedPeople.length > 0) { %>
                <% for(let collab of sampleItem.assignedPeople) { %>
                  <option value="<%= collab %>"><%- collab %></option>
                <% } %>
                <% } %>
              </select>
            <% } %>
            <label for="<%= editModal.inputId %>" class="col-form-label">
              <%- editModal.label %>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary">Confirm</button>
      </div>
    </div>
  </div>
</div>
<% } %>
