<% // TODO: update POST delete path
	const deleteModalObjects = [
		{
			id: 'deleteWorkspaceModal',
			title: 'Delete Workspace',
			toDelete: 'this workspace',
			formId: 'deleteWorkspaceForm',
			deletePath: '/delete-workspace'
		},
		{
			id: 'deleteHistoryModal',
			title: 'Delete History',
			toDelete: 'this workspace\'s history',
			formId: 'deleteHistoryForm',
			deletePath: '/delete-history'
		},
		{
			id: 'deleteItemModal',
			title: 'Delete Item',
			toDelete: 'this item',
			formId: 'deleteItemForm',
			deletePath: '/delete-item'
		},
		{
			id: 'deleteAccountModal',
			title: 'Delete Account',
			toDelete: 'your Account',
			formId: 'deleteAccountForm',
			deletePath: '/delete-account'
		}
	];
	
%>

<% 
    let deleteModals = new Array();
		/*
			index - delete modal:
			0 - workspace
			1 - item
			2 - history
			3 - account
		*/

		if(isInWorkspace === true) {
			deleteModals.push(deleteModalObjects[0]);

			 if(deleteType === 'history') {
				deleteModals.push(deleteModalObjects[1]);
			}
		} 
		else if(deleteType === 'item' ) {
			deleteModals.push(deleteModalObjects[2]);
		}
		else if(deleteType === 'account' ) {
			deleteModals.push(deleteModalObjects[3]);
		}

%>

<% for(let deleteModal of deleteModals) { %>

<div class="modal fade montserrat" id="<%= deleteModal.id %>" tabindex="-1" 
    aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel"><%- deleteModal.title %></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to permanently delete <%- deleteModal.toDelete %>? 
					<span class="text-danger">(This action can't be undone.)</span>
				</p>
			</div>
			<form id="<%= deleteModal.formId %>" method="post" action="" onsubmit="initDeleteSubmitPath('<%= deleteModal.formId %>', '<%= deleteModal.deletePath %>')" novalidate></form>
			<div class="modal-footer">
				<button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-danger" form="<%= deleteModal.formId %>">Confirm</button>
			</div>
		</div>
	</div>
</div>

<script>
	function initDeleteSubmitPath(id, path) {
		let deleteForm = document.getElementById(id);
		deleteForm.action = window.location.pathname + path;
	}
</script>

<% } %>

<% if(deleteType === 'collaborator') { %>

<div class="modal fade montserrat" id="deleteCollaboratorModal" tabindex="-1" 
	aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="modalLabel">Remove Collaborator</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p>
				Are you sure you want to remove 
				<span id="collabToRemove" class="fw-bold"></span> as a collaborator from this workspace? 
				<span class="text-danger">(This action can't be undone.)</span>
			</p>
		</div>
		<form id="deleteCollaboratorForm" method="post" action="" novalidate></form>
		<div class="modal-footer">
			<button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-danger" form="deleteCollaboratorForm">Confirm</button>
		</div>
	</div>
</div>
</div>

<script>
	let removeCollabModal = document.getElementById('deleteCollaboratorModal')
	removeCollabModal.addEventListener('show.bs.modal', function (event) {
		// Button that triggered the modal
		let button = event.relatedTarget;
		// Extract info from data-bs-* attributes
		let collaborator = button.getAttribute('data-bs-collaborator');
		// Update the modal's content.
		let modalUserSpan = removeCollabModal.querySelector('.modal-body #collabToRemove');
		modalUserSpan.textContent = '@' + collaborator;

		// Update the form's action attribute
		let removeForm = document.getElementById("deleteCollaboratorForm");
		let formPath = window.location.pathname;
		removeForm.action = formPath + '/' + collaborator + '/delete'; // TODO: update POST delete path
		console.log(removeForm.action)
	});

</script>

<% } %>
