<% // TODO: Remove this sample data once you can pass the array value of `history` 
  /*
  const history = [
    {
      item: 'Super Cheesecake',
      qty: '0',
      date: 'April 30, 2022',
      user: '@bohx_airon'
    },
    {
      item: 'Super Cheesecake',
      qty: '5',
      date: 'April 29, 2022',
      user: '@bohx_faith'
    },
    {
      item: 'Cheesey Cheesecake',
      qty: '1',
      date: 'April 28, 2022',
      user: '@bohx_pierre'
    },
    {
      item: 'Cheesey Cheesecake',
      qty: '4',
      date: 'April 25, 2022',
      user: '@Giorgio_Giovanna',
    },
    {
      item: 'Jojo Cheesecake',  
      qty: '2',
      date: 'April 24, 2022',
      user: '@JuanDelaCruz_96',
    }
  ];*/
%>


<div class="main-content container-lg my-3 fade-in-up">
<div class="outer-layer row px-4 py-4">

  <div class="row p-0 w-100">
    <div class="col-10 ps-4">
      <h3 id="history-table-header"> Quantity Updates History 
        <% if(isOwner) { %>
        <span class="hist-buttons">
          <%-include('partials/btn-delete-item.ejs', {
            deleteModalId: 'deleteHistoryModal'});
          %>
        </span>
        <% } %>
      </h3>
      <hr class="hist-black-line">
    </div>
    <div class="col">
      <div class="row p-0 m-0 h-100">
        <div class="col p-0 align-self-end text-end">
            <%- include('./partials/btn-sort.ejs', {sortModalId: 'sortHistoryModal'}); %>
        </div>
      </div>
    </div>
  </div>

  <!-- History table -->
  <div class="table-box w-100">
    <!-- Table header -->
    <div class="table-row">
      <div class="table-cell cell-header">
        <h3 class="card-title text-pink"><strong>Item</strong></h3>
      </div>
      <div class="table-cell cell-header">
        <h3 class="card-title text-pink"><strong>Qty</strong></h3>
      </div>
      <div class="table-cell cell-header"> 
        <h3 class="card-title text-pink"><strong>Date</strong></h3>
      </div>
      <div class="table-cell cell-header"> 
        <h3 class="card-title text-pink"><strong>Editor</strong></h3>
      </div>
    </div>
    <!-- END Table header -->

    <!-- Table data -->
    <%# 
      TODO: Pass value `history` from the server.
      It contains the array of update records of the current workspace.
    %>
    <% for(let record of history) { %>
    <div class="table-row row-contents">
      <div class="table-cell">
        <p><strong><%- record.item %></strong></p>
      </div>
      <div class="table-cell">
        <p><strong><%- record.quantity %></strong></p>
      </div>
      <div class="table-cell"> 
        <p>
          <strong>
            <%- record.datetime1 %>
          </strong>
        </p>
      </div>
      <div class="table-cell last-cell"> 
        <p><strong><%-record.editorsName %></strong></p>
      </div>
    </div>
    <% }                            %>
    <!--END of Table data -->
  </div>
  <!-- END History table -->

</div>

</div> 

<%- include('./partials/btn-back-to-top.ejs') %>