<%  const sampleList = new Object();
    sampleList.workspaceColor = 'pink';
    sampleList.items = sampleItems;
%>

<div class="container-lg my-3">
  <div class="row justify-content-center">
    <!-- Inventory/Item list Column-->
    <div class="col-9">

      <!-- `Add Item` button-->
      <button type="button" class="add-btn"
              data-bs-toggle="modal" data-bs-target="#<%= addModalId %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        <span>Add Item</span>
      </button>

      <!-- Item list -->
      <div class="d-grid gap-3 fade-in-up">
        <% for(let item of sampleList.items) {                                       %>
        <a class="item-list-card border-<%= sampleList.workspaceColor %>" href="/<%= workspacePath %>/<%= item.productCode %>">
          <div class="card-body">
            <h4 class="item-name"><%- item.itemName %></h4>
            <hr class="text-<%= sampleList.workspaceColor %>">
            <p class="item-desc">
              <%- item.description %>
            </p>
            <p class="item-qty">
              <strong>Qty:</strong> <%- item.qty %>
            </p>
            <p class="item-assigned-people">
              <strong>Assigned people:</strong> <span>
                <% for(let indiv = 0; indiv < item.assignedPeople.length; indiv++) { %>
                    <%- item.assignedPeople[indiv] %>
                <%   if(indiv < item.assignedPeople.length - 1) {                    %>
                      ,
                <%   }                                                               %>
                <% }                                                                 %>
              </span>
            </p>
          </div>
        </a>
        <% }                                                                         %>
      </div>

    </div>

    <!-- `Sort by` button Column-->
    <div class="col-2">
      <%- include('./partials/sort_btn.ejs'); %>
    </div>
  </div>
</div>

<!-- Back-to-top button -->
<%- include('./partials/backToTopBtn.ejs') %>
