<%  const sampleList = new Object();
    sampleList.workspaceColor = 'pink';
    sampleList.items = [                                                                                                                
      {                                                                                                                     
        itemName: 'Super Cheesecake',                                                                                       
        description: "Super yummy-licious extravagant all-in-one cheese that will make you feel like you can save the day.",
        qty: '2 slices',                                                                                                    
        assignedPeople: ['@bohx_airon','@bohx_faith']                                                                       
      },                                                                                                                    
      {                                                                                                                     
        itemName: 'Putakte Cheesecake',                                                                                     
        description: "Sa sobrang sarap mapapasigaw ka na lng ng \"Putakte ka ng ina mo!\".",                                
        qty: '3 whole',                                                                                                     
        assignedPeople: ['@bohx_airon','@bohx_faith','@bohx_pierre']                                                        
      },                                                                                                                    
      {                                                                                                                     
        itemName: 'Cheesey Cheesecake',                                                                                     
        description: "Basta cheesecake ito na may additional cheese drizzle sa taas. May mala-lava cake feeling din ito.",  
        qty: '6 whole',                                                                                                     
        assignedPeople: ['@bohx_pierre']                                                                                    
      }                                                                                                                     
    ];
%>

<div class="container-lg my-3">
  <div class="row justify-content-center">
    <!-- Inventory/Item list Column-->
    <div class="col-9">

      <!-- `Add Item` button-->
      <button type="button" class="btn btn-lg add-btn text-start w-100">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        <span class="montserrat">Add Item</span>
      </button>

      <!-- Item list -->
      <div class="d-grid">
        <% for(let item of sampleList.items) {                                       %>
        <div class="card keepr-card gap-2 border-<%= sampleList.workspaceColor %>">
          <div class="card-body">
            <h4 class="card-title"><%- item.itemName %></h4>
            <hr class="text-<%= sampleList.workspaceColor %>">
            <p class="card-text card-text-first fs-6 fst-italic text-truncate">
              <%- item.description %>
            </p>
            <p class="card-text fs-5 fst-<%= sampleList.workspaceColor %>">
              Qty: <%- item.qty %>
            </p>
            <p class="card-text fs-5 fst-<%= sampleList.workspaceColor %>">
              Assigned people: <span class="fs-6 fst-talic">
                <% for(let indiv = 0; indiv < item.assignedPeople.length; indiv++) { %>
                    <%- item.assignedPeople[indiv] %>
                <%   if(indiv < item.assignedPeople.length - 1) {                    %>
                       ,
                <%   }                                                               %>
                <% }                                                                 %>
              </span>
            </p>
          </div>
        </div>
        <% }                                                                         %>
      </div>

    </div>

    <!-- `Sort by` button Column-->
    <div class="col-2">
      <%- include('./partials/sort_btn.ejs'); %>
    </div>
  </div>
</div>
