<%
  const item = sampleItem;
%>

<div class="row fade-in-up">
  <div class="col-2 align-items-start">
    <%- include('partials/backBtn.ejs') %>
  </div>
  <div class = "col-8 align-items-center">
    <h1 class="mt-3 p-1 border-bottom border-3 oswald text-gray display-4">
      <%- item.itemName %>
      <%- include('partials/deleteItemBtn.ejs') %>
    </h1>
    <div class="d-grid gap-3 mt-5">
      <div class="row">
        <div class="col">
          <div class="card keepr-card border-darkpurple h-100">
            <div class="card-body">
              <h4 class="card-title fw-bold">Product Code
                <%- include('partials/editItemBtn.ejs') %>
              </h4>
              <hr class="text-darkpurple">
              <p class="card-text card-text-first fs-4 fst-italic mt-5"><%- item.productCode %></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card keepr-card border-teal h-100">
            <div class="card-body">
              <h4 class="card-title fw-bold">Qty/Unit
                <%- include('partials/editItemBtn.ejs') %>
              </h4>
              <hr class="text-teal">
              <p class="card-text fs-4 fst-italic mt-5"><%- item.qty %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card keepr-card border-gray">
            <div class="card-body">
              <h4 class="card-title fw-bold">Description
                <%- include('partials/editItemBtn.ejs') %>
              </h4>
              <hr class="text-gray">
              <p class="card-text card-text-first fs-4 fst-italic mt-5">
                <%- item.description %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-0">
        <div class="col-3">
        </div>
        <div class="col-6">
          <div class="card keepr-card border-pink h-100">
            <div class="card-body">
              <h4 class="card-title fw-bold">Assigned to
                <%- include('partials/editItemBtn.ejs') %>
              </h4>
              <hr class="text-pink">
              <p class="card-text fs-4 fst-italic mt-5">
                <ul style="list-style-type:disc;">
                <% for(let i=0; i < item.assignedPeople.length; i++) { %>
                  <% if(i === 0) { %>
                  <li class="card-text card-text-first fs-5 fst-italic mb-1"><%- item.assignedPeople[i] %></li>
                  <% } else { %>
                  <li class="card-text fs-5 fst-italic mb-1"><%- item.assignedPeople[i] %></li>
                  <% } %>
                <% } %>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
        </div>
      </div>

  </div>
  <div class="col-2">
  </div>
</div>
