<h1 class="my-3 border-bottom border-3 oswald display-4" id="page-heading">SEARCH RESULTS - "<%- query %>"</h1>

<!-- Item search results -->
<div class="d-grid gap-2 fade-in-up">
  <% for(let item of itemResults) {                                       %>
  <a class="item-list-card border-pink" href="/<%= workspace %>/<%= item.pcode %>">
    <div class="card-body">
      <h4 class="item-name"><%- item.itemName %></h4>
      <hr class="text-pink">
      <p class="item-desc">
        <%- item.description %>
      </p>
      <p class="item-qty">
        <strong>Qty: <%- item.qtyUnit %></strong>
      </p>
    </div>
  </a>
  <% }                                                                         %>
</div>
