<%  const sampleList = new Object();
    sampleList.workspaceColor = 'pink';
    sampleList.items = sampleItems;
%>

<!-- Item search results -->
<div class="d-grid gap-2 fade-in-up">
  <% for(let item of sampleList.items) {                                       %>
  <a class="item-list-card border-<%= sampleList.workspaceColor %>" href="/search-results/<%= item.productCode %>">
    <div class="card-body">
      <h4 class="item-name"><%- item.itemName %></h4>
      <hr class="text-<%= sampleList.workspaceColor %>">
      <p class="item-desc">
        <%- item.description %>
      </p>
      <p class="item-qty">
        <strong>Qty: <%- item.qty %></strong>
      </p>
    </div>
  </a>
  <% }                                                                         %>
</div>
